.login{
    display: flex;
}
.login-intro{
    width: 60%;
    text-align: left;
    padding: 56px 56px;
    background: linear-gradient(130.94deg,#97a4af,#c7cdd4);
    color: #fff;
}
.login-intro h1{
    font-size: 50px;
    font-style: bold;
    color: #fff;
    line-height: 75px;
}
.login-intro p{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #51606b;
    width: 490px;
}
.logo-title{
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    margin: 30px 10px;
}
.logo-tool{
    width: 306px;
    height: 200px;
    padding: 20px 10px;
    background: rgba(228,228,228, 1);
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-tool h2{
    font-weight: 600;
    font-size: 20px;
    color: #070000;
    padding: 10px 0px 0 12px;
}
.logo-tool p{
    width: 282px;
    font-weight: 400;
    font-size: 12px;
    color: #51606b;
    padding: 10px 0 0 12px;
}
.logo-tool button{
   margin: 10px 0 0 12px;
   padding: 8px 22px;
   border-radius: 8px;
   background-color: #12448a;
   color: #fff;
   border: none;
   font-weight: 300;
   font-size: 15px;
   line-height: 26px;
}
.login-logo h2{
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}